@media only screen and (min-width: 320px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 0;
  }

  .hide-xs {
    display: none;
  }

  .show-md {
    display: none;
  }

  .show-xs {
    display: block;
  }

  .show-lg {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    margin-left: 10px;
  }

  .section-sub-heading {
    margin-bottom: 2rem;
  }

  .section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .safety-banner .download {
    margin-top: 10px;
  }

  #hero-image {
    padding: 30px 0;
  }

  #hero-image .download {
    margin-top: 10px;
  }

  #hero-image .extension-bg {
    width: 130%;
    margin: 30px 0;
  }

  header .logo-bg {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }

  .fixed-download-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5086EE;
    z-index: 2;
    box-shadow: 0 0 10px 5px rgba(36, 109, 203, 0.30);
  }

  .fixed-download-footer .download-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px 0;
  }

  .fixed-download-footer .download {
    margin: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0.625rem;
    border-radius: 100px;
    color: #1974E8;
    font-size: 1rem;
    border: none;
    outline: none;
  }

  .fixed-download-footer .download img {
    width: 2rem;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 64em) {
  html {
    font-size: 14px;
  }

  .hide-md {
    display: none;
  }

  .show-md {
    display: block;
  }

  .show-xs {
    display: none;
  }

  .show-lg {
    display: none;
  }
}

@media only screen and (min-width: 75em) {
  html {
    font-size: 16px;
  }

  .hide-lg {
    display: none;
  }

  .show-md {
    display: none;
  }

  .show-xs {
    display: none;
  }

  .show-lg {
    display: block;
  }

  .container {
    padding: 60px;
  }

  .section-sub-heading {
    margin-bottom: 0;
  }

  #hero-image .extension-bg {
    width: 90%;
    margin: 20px 0;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
  }

  div.header {
    padding: 20px 0;
    /*transition: all 0.3s ease-in;*/
  }

  header .logo-bg {
    height: 80px;
    width: 80px;
    margin-right: 10px;
  }

  div.header.small {
    padding: 10px 0;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
    animation: fadeIn ease 0.4s;
  }

  div.header.small .logo-bg {
    height: 30px;
    width: 30px;
  }

  div.header.small .logo {
    font-size: 1rem;
    font-weight: 600;
  }
}
